* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #fafcff;
  font-family: "Changa", sans-serif;
  scroll-behavior: smooth;
}
.header {
  display: flex;
  flex-wrap: wrap;
}

nav {
  background-color: #4dabba;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: top 3x;
  box-shadow: -1px 3px 12px -3px rgba(0, 0, 0, 0.63);
}
.about-main {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.pages {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 50px;
}

.nav-a {
  list-style-type: none;
  display: inline-block;
  margin: 0.8rem 0.8rem;
  color: white;
  transition: 0.4s;
  padding: 17px;
  font-size: 24px;
  font-weight: 900;
  text-decoration: none;
}
.nav-a:hover {
  color: #052c4b;
}

.logo {
  padding: 5px;
  width: 150px;
}

.plane {
  display: flex;
  justify-content: end;
}
.plane-img {
  width: 700px;
  height: auto;
  transition: 00.4s;
}
.plane-img:hover {
  transform: scaley(1.08);
}
.about {
  bottom: 400px;
  margin-right: 20px;
  font-weight: bolder;
  font-size: 30px;
  padding: 190px 40px;
  color: #052c4b;
}
.about p {
  font-size: 25px;
  font-weight: bold;
}

.help {
  font-size: 40px;
  font-weight: bold;
}
.footer {
  background-color: #4dabba;
  width: 100%;
  height: 300px;
}

/* continents */

* {
  direction: rtl;
}

.continents {
  display: flex;
  justify-content: center;
  padding: 70px 0px;
  align-items: center;
}
.africa-text {
  text-align: center;
  color: #052c4b;
}
.europe-text {
  text-align: center;
  color: #052c4b;
}
.asia-text {
  text-align: center;
  color: #052c4b;
}
.asia-section {
  margin: 60px;
}
.japan-img {
  width: 400px;
  height: auto;
  border-radius: 200px;
}
.japan {
  background-color: #4dabba32;
  border-radius: 20px;
  padding: 40px;
}
.parias {
  margin-top: 10px;
  background-color: #4dabba32;
  border-radius: 20px;
  padding: 40px;
}
.maldieve {
  margin-top: 10px;
  background-color: #4dabba32;
  border-radius: 20px;
  padding: 40px;

}
.malisia {
  margin-top: 10px;
  background-color: #4dabba32;
  border-radius: 20px;
  padding: 40px;

}
.Paris {
  margin-top: 10px;
  background-color: #4dabba32;
  border-radius: 20px;
  padding: 40px;

}
.Switzerland {
  margin-top: 10px;
  background-color: #4dabba32;
  border-radius: 20px;
  padding: 40px;

}
.namsa { 
  margin-top: 10px;
  background-color: #4dabba32;
  border-radius: 20px;
  padding: 40px;

}
.Egypt {  margin-top: 10px;
  background-color: #4dabba32;
  border-radius: 20px;
  padding: 40px;

}
.Somalia {  margin-top: 10px;
  background-color: #4dabba32;
  border-radius: 20px;
  padding: 40px;

}
.Comoros {  margin-top: 10px;
  background-color: #4dabba32;
  border-radius: 20px;
  padding: 40px;

}
.comar-img {
  width: 400px;
  height: auto;
  border-radius: 200px;
}

