* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}
body {
  background-color: #fafcff;
  font-family: "Changa", sans-serif;
}
.header {
  display: flex;
  flex-wrap: wrap;
}

nav {
  background-color: #4dabba;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: top 3x;
  box-shadow: -1px 3px 12px -3px rgba(0, 0, 0, 0.63);
}
.about-main {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-bottom: 60px;
}

.pages {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 50px;
  align-items: center;
}

.nav-a {
  list-style-type: none;
  display: inline-block;
  margin: 0.8rem 0.8rem;
  color: white;
  transition: 0.4s;
  padding: 17px;
  font-size: 24px;
  font-weight: 900;
  text-decoration: none;
}
.nav-a:hover {
  color: #052c4b;
}

.logo {
  padding: 5px;
  width: 150px;
}

.plane {
  display: flex;
  justify-content: end;
}
.plane-img {
  width: 700px;
  height: auto;
  transition: 00.4s;
}
.plane-img:hover {
  transform: scaley(1.08);
}
.about {
  bottom: 400px;
  margin-right: 20px;
  font-weight: bolder;
  font-size: 30px;
  padding: 190px 40px;
  color: #052c4b;
}
.about p {
  font-size: 25px;
  font-weight: bold;
}

.help {
  font-size: 40px;
  font-weight: bold;
}

.info-wraper {
  display: flex;
  background-color: #4dabba;
  width: 100%;
  height: 400px;
  margin-bottom: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info-text {
  display: flex;
  padding-bottom: 15px;
  color: #052c4b;
  background-color: rgba(255, 255, 255, 0.49);
  border-radius: 15px;
  padding: 7px;
  margin-bottom: 15px;
  transition: 0.3s;
  cursor: pointer;
  border: #052b4b00 solid 2px;
}
.info-text:hover {
  background-color: rgba(255, 255, 255, 0);
  border: #052c4b solid 2px;
}

.statistics {
  display: flex;
  border: dashed white 2px;
  border-radius: 10px;
  padding: 30px;
  justify-content: space-around;
  width: 90%;

  font-weight: 400;
  font-size: 18px;
}
.statistics p {
  text-align: center;
}
.name-statistics {
  font-size: 23px;
  font-weight: bolder;
}
.footer {
  display: flex;
  background-color: #4dabba;
  width: 100%;
  height: 300px;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
}
.footer p {
  font-size: 22px;
  text-align: center;
  padding-top: 20px;
}
.social-icon {
  display: flex;
  gap: 30px;
  width: 100px;
  justify-content: center;
}
.social-icon img {
  width: 50px;
  transition: 0.5s;
}
.social-icon img:hover {
  transform: scale(1.3);
}
.footer {
  background-color: #4dabba;
  width: 100%;
  height: 300px;
}

/* continents */

* {
  direction: rtl;
}

.continents {
  display: flex;
  justify-content: center;
  padding: 70px 0px;
  align-items: center;
}
.africa-text {
  text-align: center;
  color: #052c4b;
}
.europe-text {
  text-align: center;
  color: #052c4b;
}
.asia-text {
  text-align: center;
  color: #052c4b;
}
.asia-section {
  margin: 60px;
}
.japan-img {
  width: 400px;
  height: auto;
  border-radius: 200px;
}
.japan {
  background-color: #4dabba32;
  border-radius: 20px;
  padding: 40px;
}
.parias {
  margin-top: 10px;
  background-color: #4dabba32;
  border-radius: 20px;
  padding: 40px;
}
.maldieve {
  margin-top: 10px;
  background-color: #4dabba32;
  border-radius: 20px;
  padding: 40px;
}
.malisia {
  margin-top: 10px;
  background-color: #4dabba32;
  border-radius: 20px;
  padding: 40px;
}
.Paris {
  margin-top: 10px;
  background-color: #4dabba32;
  border-radius: 20px;
  padding: 40px;
}
.Switzerland {
  margin-top: 10px;
  background-color: #4dabba32;
  border-radius: 20px;
  padding: 40px;
}
.namsa {
  margin-top: 10px;
  background-color: #4dabba32;
  border-radius: 20px;
  padding: 40px;
}
.Egypt {
  margin-top: 10px;
  background-color: #4dabba32;
  border-radius: 20px;
  padding: 40px;
}
.Somalia {
  margin-top: 10px;
  background-color: #4dabba32;
  border-radius: 20px;
  padding: 40px;
}
.Comoros {
  margin-top: 10px;
  background-color: #4dabba32;
  border-radius: 20px;
  padding: 40px;
}
.comar-img {
  width: 400px;
  height: auto;
  border-radius: 200px;
}

/* transport- section  */
.transport {
  margin: 60px;
}
.cars {
  background-color: #4dabba32;
  border-radius: 20px;
  padding: 40px;
  margin: 20px 0px;
}

.train {
  background-color: #4dabba32;
  border-radius: 20px;
  padding: 40px;
}

/* gallery-section */

.gallery-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 150px;
}
.gallery {
  width: 85vw;
  height: 60vmin;
  display: flex;
  gap: 5px;
}

.gallery img {
  height: 100%;
  flex: 1;
  object-fit: cover;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.6s;
}

.gallery img:hover {
  flex: 4;
}

.shear-wraper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.button-wraper button {
  width: 200px;
  height: 70px;
  border-radius: 15px;
  background-color: #052c4b;
  color: white;
  font-family: "Changa", sans-serif;
  font-size: 20px;
  transition: 00.6s;
  cursor: pointer;
}

.button-wraper button:hover {
  border: #4dabba solid 3px;
  background-color: #052b4b00;
  color: #052c4b;
}
